.header-content {
    width: 100%;
    text-align: center;
}

.title {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

.chosen-words {
    margin-top: 24px;
    display: inline-block;
    font-size: 24px;
}

.randomise-button {
    margin: 12px;
    display: inline-block;
}